<!-- <h1><%=@name %></h1>
<h1><%=@breed %></h1>
<h1><%=@age %></h1> -->
<!-- <h1><%=@content %></h1>
<h1><%=@msg%></h1>
 -->
 <body>
  <p>Puppy Name: <%= @name %></p>
  <p>Puppy Breed: <%= @breed %></p>
  <p>Puppy Age: <%= @age %></p>
</body>
